
          <div class="news">
            <h2>recent media</h2>
            {% if site.data.news and site.data.news.size > 0 -%}
            <div class="news-sidebar">
              {% for item in site.data.news %}
                <div class="news-item">
                  <div class="news-date">{{ item.date }}</div>
                  <div class="news-content">
                    <a class="news-title" href="{{ item.url }}" target="_blank">{{ item.title }}</a>
                    <div class="news-publication"><em>{{ item.publication }}</em></div>
                  </div>
                </div>
              {%- endfor %}
            </div>
          {%- else -%}
            <p>No news so far...</p>
          {%- endif %}
          </div>
