
          <div class="news">
            <h2>news</h2>
            {% if site.data.news and site.data.news.size > 0 -%}
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              {% for item in site.data.news %}
                <tr>
                  <th scope="row">{{ item.date }}</th>
                  <td>
                    <a class="news-title" href="{{ item.url }}" target="_blank">{{ item.title }}</a> &mdash; <em>{{ item.publication }}</em>
                  </td>
                </tr>
              {%- endfor %}
              </table>
            </div>
          {%- else -%}
            <p>No news so far...</p>
          {%- endif %}
          </div>
